@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
    height: 100%; /* Ensures the body takes up the full height */
    display: flex;
    flex-direction: column; /* Sets a column layout */
    margin: 0;
}

.logo{
    
    font-size: 24px;
    font-weight: 500;
    color: aliceblue;
}

a {
    text-decoration: none;
    color:inherit;
    padding: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

.question {
    
    font-size: 48px;
    font-weight: 900;
    color: aliceblue;
}

img {
    display: flex;
    width: 400px;
    height: auto;
    padding: 0;
    margin: 10px;
    
    
}

.footer {
    background-color: #0F5757;
    color: white;
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #0F5757;
    color:aliceblue;
    padding: 15px;
    padding-bottom: 32px;
    
}
.header_row1, .header_row2{
    display: flex;
    justify-content: space-between;
}

.header_row2 {
    padding-top: 20px;
    padding-left: 30px;
}


.row2_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.game_description{
    flex:2;
}

.check_out_btn {
    background-color: #3CCDBE;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    padding: 8px 16px;
    margin: 0;
    align-self:flex-start;
    border-radius: 16px;
    
    width: auto;
    
}

.main1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-grow:1;
    background-color: #A0E8E0;
}
.main2 {
    display: flex;
    font-size: 36px;
    flex-direction: column;
    padding: 80px 160px;
    margin: 0;
    background-color: #198C8C;
    
}

.qoute{
    font-style: italic;
}
.author {
    text-align: end;
    font-weight: bold;
}

.question_container{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 16px;
    
    text-align: start;
    border: 2px solid #3882F6;
    border-radius: 24px;
    
}

.card_title {
    font-size: larger;
    font-weight: bold;
    text-align:start;
    padding-bottom: 5px;
    text-decoration: underline;
}

.question2{
    font-size: 34px;
    font-weight: 900;
    padding: 15px;
    
    margin-bottom: 10px;
    justify-content: center;
    
}
